<div class="row">
    <form enctype="multipart/form-data" (ngSubmit)="onSubmit()" #uploadForm="ngForm">
        <div class="col-xs-12">
            <h3>Step 1. Write your e-mail</h3>
            <div class="form-group has-feedback">

                <label for="image_guest_email" class="control-label required">Your E-mail</label>
                <input type="email"
                       class="form-control"
                       required="required"
                       name="image[guest][email]" id="image_guest_email"
                       ngControl="emailInput"
                       [(ngModel)]="guest.email"
                       #emailInput="ngModel"
                >
                <span class="email-valid-check form-control-feedback"
                      style="font-size: 20px; color: #2ca02c"
                      [ngStyle]="{'font-size':emailInput.valid?'30px':'20px'}"
                ><span [hidden]="!emailInput.valid"><i class="fa fa-check"></i></span>
                </span>
            </div>
        </div>

        <div class="col-xs-12">
            <h3>Step 2. Upload your photo</h3>
        </div>

        <div [ngClass]="'col-xs-'+((previewImage|async)!==''?'6':'12')">
            <span *ngIf="(previewImage|async)">Do you want to change the photo?</span>
            <PreviewFileInput
                    name="image[uploadedFile][file]"
                    imageContainer=""
                    buttonClasses="btn btn-{{ (previewImage|async)?'primary':'success' }} btn-block btn-{{ (previewImage|async)?'xs':'lg' }}"

                    [disabled]="!emailInput.valid"
                    (preview)="handleImagePreview($event)"
            >
                <i class="fa fa-picture-o"></i>
                Select {{!(previewImage|async)?'your photo':'other photo'}}
            </PreviewFileInput>

            <div class="form-group" style="display: none">
                <label for="image_uploadedFile_file" class="control-label required">Upload</label>
                <input id="image_uploadedFile_file" name="image[uploadedFile][file]" required="required" type="file" #uploadFileInput>
            </div>
        </div>

        <div class="col-xs-6 preview-image" *ngIf="(previewImage|async)">
            <div class="img-thumbnail">
                <img [src]="previewImage|async" class="img-responsive"/>
            </div>
        </div>

        <div class="col-xs-12" >
            <h3>Step 3. Upload the photo</h3>
        </div>
        <div class="col-xs-12" *ngIf="(previewImage|async)">
            <p>Yes, all right. I want to upload the photo</p>
            <button class="btn btn-warning btn-block btn-lg">
                <i class="fa fa-upload"></i>
                Upload
            </button>
        </div>

    </form>

</div>
